@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-Black.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-ExtraBold.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-Bold.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-SemiBold.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-Medium.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-Regular.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-Light.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-ExtraLight.otf);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url(../Assets/Font/Pretendard-Thin.otf);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f5f5f5;
  font-family: "Pretendard" !important;
  margin: 7px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table {
  font-family: "Pretendard" !important;
}

.ant-tabs-nav-wrap {
  display: inline !important;
}

.ant-tabs-nav-list {
  justify-content: space-between;
  background-color: #ebeef3;
  border-radius: 8px;
  overflow: hidden;
}

.ant-tabs-tab {
  margin: 0 !important;
  width: 130px;
  justify-content: center !important;
  height: 39px;
}

.ant-tabs-tab-active {
  background-color: #2a3958 !important;
  border: 0 !important;
}

.ant-tabs-tab-btn {
  color: #b1b4bb !important;
}

.ant-tabs-ink-bar-animated {
  background-color: transparent !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.ant-dropdown-menu {
  margin-top: 4px !important;
  padding: 0 !important;
  border-radius: 8px !important;
  overflow: hidden;
}

.ant-space-item svg {
  display: none !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item span {
  font-size: 14px;
  font-weight: 500;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
  border-radius: 0 !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: #2a3958 !important;
  color: white !important;
}

.ant-dropdown-trigger .anticon.anticon-down {
  width: 10px;
  height: 10px;
  border: 2px solid #5a616a;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  position: relative;
  top: -5px;
  margin-left: 3px;
}

.ant-table-thead th {
  background-color: #eef0f4 !important;
  border-right: 2px solid white;
  text-align: center !important;
  font-size: 16px;
}

.ant-table-thead th:first-child {
  width: 40px;
  border-radius: 0 !important;
}

.ant-table-thead th:last-child {
  border-right: 0px solid white;
  border-radius: 0 !important;
}

.ant-table-content {
  overflow: auto !important;
  scrollbar-color: initial !important;
}

.ant-table-content table {
  width: 1354px !important;
  min-width: 100%;
  table-layout: auto;
}

.ant-table-content::-webkit-scrollbar {
  height: 10px !important;
}

.ant-table-content::-webkit-scrollbar-track-piece {
  background: #ccc !important;
  border-top: 6px solid #e6e8ea !important;
  border-bottom: 6px solid #e6e8ea !important;
  border-radius: 8px !important;
}

.ant-table-content::-webkit-scrollbar-track-piece:decrement {
  background: #666 !important;
  border-top: 6px solid grey !important;
  border-bottom: 6px solid grey !important;
}

.ant-table-content::-webkit-scrollbar-thumb {
  background: #6f80a0 !important;
  border-radius: 8px !important;
}

.gray-row .ant-checkbox-inner {
  border: 1px solid #d9d9d9 !important;
  background-color: #dde0e5 !important;
}

.ant-table-thead .ant-checkbox-inner {
  border: 1px solid #d9d9d9 !important;
  box-shadow: 0px 2px 5px 0px #5960781a;
}

.ant-checkbox-wrapper-checked .ant-checkbox-inner {
  background-color: #2a3958 !important;
  border: 0 !important;
}

.ant-table-content tbody td {
  border: 0 !important;
  padding: 10px 16px !important;
}

.ant-table-content tbody tr:nth-of-type(even) {
  background-color: #f9f9fb;
}

.ant-table-row-selected .ant-checkbox-inner {
  border-color: transparent !important;
}

.ant-pagination-item a {
  font-weight: 600 !important;
  color: #a1a1a1 !important;
  font-size: 16px !important;
}

.ant-table-pagination .ant-pagination-item-active {
  background-color: #2a3958 !important;
  border: 0 !important;
}

.ant-table-pagination .ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-next .anticon-right svg {
  display: none;
}

.ant-pagination-next .anticon-right {
  width: 10px;
  height: 10px;
  border: 2px solid #5a616a;
  border-left: 0;
  border-top: 0;
  transform: rotate(-50deg);
  position: relative;
  top: -3px;
  margin-left: 0px;
  left: -2px;
}

.ant-pagination-prev .anticon-left svg {
  display: none;
}

.ant-pagination-prev .anticon {
  width: 10px;
  height: 10px;
  border: 2px solid #5a616a;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
  position: relative;
  top: -2px;
  margin-left: 0px;
  left: 1px;
}

.ant-table-row-selected .ant-checkbox-inner {
  background-color: #2a3958 !important;
}

.ant-table-row-selected td {
  background-color: transparent !important;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-header {
  padding: 22px 30px !important;
  border-bottom: 1px solid #d7d8da !important;
}

.ant-modal-footer {
  padding: 25px !important;
  border-top: 1px solid #d7d8da !important;
}

.ant-modal-body {
  padding: 15px 34px !important;
}

.model-dropdown .ant-dropdown-menu {
  margin-top: 20px;
}

.mdl-dropdown ul {
  margin-top: 10px !important;
}

.ant-space-item {
  color: black !important;
}

.ant-upload-list.ant-upload-list-text {
  display: none;
}

.ant-upload-select button:hover,
.ant-upload-select button:active,
.ant-upload-select button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.ant-modal-footer {
  text-align: center !important;
}

span.anticon.anticon-exclamation {
  background-color: #fef0c7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  justify-content: center !important;
  margin: 0px;
  outline: 5px solid #fffaeb;
  outline-offset: 0px;
}

.ant-modal-confirm-body {
  display: inline-block !important;
  width: 100%;
}

.ant-modal-confirm-content {
  font-weight: 600;
  font-size: 16px;
  padding: 16px 0;
}

.ant-modal-confirm-btns {
  text-align: center !important;
}
.ant-modal-confirm-btns .ant-btn-default {
  background-color: #2a3958 !important;
  height: 44px;
  width: 120px;
  color: white !important;
  font-weight: 600;
  font-size: 14px;
  border: 0 !important;
}
.ant-modal-confirm-btns .ant-btn-primary {
  background-color: white !important;
  height: 44px;
  width: 120px;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #2a3958;
  color: #2a3958 !important;
}

.ant-modal-title {
  font-weight: 600 !important;
  font-size: 18px !important;
}

textarea {
  resize: none;
  outline: 0 !important;
  box-shadow: none !important;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background: #e6e8ea;
}

textarea::-webkit-scrollbar-thumb {
  background: #6f80a0;
  border-radius: 30px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #6f80a0;
  border-radius: 30px;
}
